.promos-container {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 10%;
    border-top: 1px solid #CECECE;
    overflow-y: scroll;
    height: 79%;

    .promo-heading {
        color: red;
        font-weight: 500;
        font-size: 23px;
        text-align: left;
    }
}

.promo {
    .name {
        text-align: left;
        font-size: 15px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .description {
        font-size: 13px;
        text-align: justify;
    }
}
