<ion-content class="aug-container">
    <section>
        <div id="cont-reward" class="container-reward">
            <div class="cont-body-reward" id="container-center-body">
                <div class="container-head-reward">
                    <div class="head-rwd">
                        <span class="red-text">AUGUSTUS</span><br>
                        <span class="gray-text"> REWARDS</span>
                    </div>

                    <!-- <div class="no-promos" *ngIf="promos.length <= 0">
                        <h1>No promos available</h1>
                    </div>

                    <!-- <div class="promos-container" *ngIf="promos.length > 0"> -->
                    <div class="promos-container">
                        <h1 class="promo-heading">Latest Promotions</h1>

                        <div class="promo">
                            <img [src]="defaultPromoImage">
                            <!-- <h3 class="name">{{promo.name}}</h3>
                            <p class="description">{{promo.description}}</p> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</ion-content>
