<ion-content class="aug-container">
    <section>
        <div id="cont-reward" class="container-reward">
            <div class="cont-body-reward" id="container-center-body">
                <div class="container-head-reward">
                    <div class="head-rwd">
                        <span class="red-text">AUGUSTUS</span><br>
                        <span class="gray-text"> REWARDS</span>
                    </div>

                    <div class="product">
                        <img [src]="product.image" class="image">
                        <div class="information">
                            <h1 class="name">{{product.name}}</h1>
                            <span class="size-and-metrics">{{product.size}}{{product.metrics}}</span>
                            <p class="description">{{product.description}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</ion-content>
