.product {
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 10%;
    border-top: 1px solid #CECECE;

    .image, .information {
        width: 50%;
    }

    .image {
        float: left;
        margin-top: 10%;
    }

    .information {
        float: right;
        margin-top: 25%;
        text-align: left;

        .name {
            color: red;
            margin-top: 10%;
            margin-bottom: 0;
            margin-left: -2%;
        }

        .size-and-metrics {
            color: gray;
        }

        .description {
            font-size: 12px;
            color: #4c4545;
            margin-top: 10%;
        }

    }
}
