
.errors {

  color: red !important;
  clear: both;
  display: inline-block;
  width: 100%;

  ul {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;

    li {

      width: 100%;
      padding: 0;
      margin: 0;
      text-align: left;

    }
  }
}