<ion-content class="aug-container">
    <section>
        <div id="cont-reward" class="container-reward">
            <div class="cont-body-reward" id="container-center-body">
                <div class="container-head-reward">
                    <div class="head-rwd">
                        <span class="red-text">AUGUSTUS</span><br>
                        <span class="gray-text"> REWARDS</span>
                    </div>
                    <div class="name-rwd">
                        <span class="cust-name cust-name-mem">Hi, {{currentMember.firstname}} {{currentMember.lastname}}!</span><br>
                        <h1>{{currentMember.reward_points | number}} {{currentMember.reward_points==0||currentMember.reward_points>1?'POINTS':'POINT'}}</h1>
                    </div>
                    <div class="icon-rwd">
                        <img src="./assets/perfume.png"/>
                    </div>
                    <div class="body-btm">

                        <span class="points points-for-cus">You have <b>{{currentMember.max_redeemable_items | number}}</b>
                        {{currentMember.max_redeemable_items==0||currentMember.max_redeemable_items>1?'rewards':'reward'}} to redeem.</span>

                        <p class="thin">Simply visit the nearest branch and let our staff know.</p>

                        <hr class="line">

                        <div class="bottom">
                            <div class="buttom-one">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <p class="btm-para">
                                    <span>Get a free EDP bottle of your choice.</span>
                                </p>
                            </div>
                            <div class="buttom-two">
                                <i class="fa fa-circle" aria-hidden="true"></i>
                                <p class="btm-para">
                                    <span>Get 15% discount on every purchased items.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ion-content>
