ion-content{
    &.aug-container{
        background-color: #fff;

        .container-reward{
            background-image: url(../assets/circle-big.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            // margin-top: -85%;
            padding: 26px;
            width: 100%;
            height: 395px;

        }

        .cont-body-reward{
            height: 590px;
            width: 100%;
            background-color: #ffffff;
            border-radius: 20px;
            // margin-top: 102%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 5% 1% 10% 1%;
            margin-bottom: 10px;
            box-shadow: 0px 0px 15px 0px #adadad;
            font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;


            .container-head-reward{
                text-align: center;
                line-height: 1.4rem;
                width: 100%;
                height: 100%;
                .head-rwd{
                    font-size: 25px;
                    text-align: center;
                    line-height: 2rem;
                    height: 10%;
                    padding-top: 5%;


                    .red-text{
                        color: red;
                        font-weight: 400;
                    }
                    .gray-text{
                        color: #9c9c9c;
                        font-weight: 700;
                    }
                }
                .name-rwd{
                    margin-top: 14%;
                    text-align: center;
                    height: 10%;

                    .cust-name{
                        font-size: 14px;
                        color: #9c9c9c;
                        font-weight: 600;

                    }
                    h1{
                        font-size: 24px;
                        margin-top: 12px;
                        color: #5f5f5f;
                        font-weight: 800;

                    }
                }
                .icon-rwd{
                   width: 100%;
                   height: 20%;
                   padding-top: 5%;
                   -webkit-animation-duration: 5s;
                   -webkit-animation-iteration-count: 3;
                   img{
                       width: 37%;
                   }
                }
                .body-btm{
                    padding-top: 11%;
                    height: 50%;
                    width: 100%;
                    text-align: center;
                    color: #999898;

                    span.points{
                        color: #999898;
                        font-size: 13px;
                        font-weight: 600;


                    }
                    p.thin{
                        margin: 1rem;
                        margin-bottom: 0;
                        font-size: 13px;
                        padding: 0 5% 0 5%;

                    }
                    b{
                        color: red;
                        font-size: 14px;
                    }
                hr{
                    &.line{
                        margin-top: 10%;
                        width: 50%;
                        color: #5f5f5f;
                        border-bottom: solid 2px #999898 !important;
                    }
                }
                    .bottom{
                        min-height: 140px;
                        width: 100%;
                        padding: 8% 9%;
                        font-size: 13px;


                        .fa-circle{
                            color: red;
                            font-size: 17px;
                            float: left;
                            padding: 0px 20px 0px 33px;
                            width: 10%;
                        }
                        p.btm-para{
                            margin-bottom: 6%;
                            padding: 0 5% 0 5%;
                            float: left;
                            width: 70%;
                            text-align: left;
                        }
                    }
                }

                }

            }

            .body-head-cont{
                z-index: 10;
            }


        }



    }

    @media screen and (device-width: 600px)  and (device-height : 1024px) {
        #cont-reward{
            padding: 45px;
            height: 620px;
            #container-center-body{
                height: 935px;
            }
            .container-head-reward{
                .head-rwd{

                    .red-text{
                        font-size: 35px;
                    }
                    .gray-text{
                        font-size: 35px;
                        line-height: 2.8rem;
                    }
                }
                .name-rwd{
                    .cust-name-mem{
                        font-size: 18px;
                    }
                    h1{
                        font-size: 32px;
                    }
                }
                .icon-rwd{
                    img{
                        width: 33%;
                        margin-top: 4%;
                    }
                }
                .body-btm{
                    padding: 65px 40px 15px 40px;
                    line-height: 2rem;
                    .points-for-cus{
                        font-size: 20px;
                        b{
                            font-size: 20px;
                        }
                    }
                    p{
                        font-size: 18px;

                    }
                    hr{
                        border-bottom: solid 3px #999898 !important;
                        width: 58%;
                }
                .bottom{
                    i{
                        font-size: 23px;
                    }
                }
            }

        }


    }
    }

    @media screen and (min-width: 800px) {
        #cont-reward{
            padding: 45px;
            height: 1424px;
            #container-center-body{
                height: 1120px;
            }
            .container-head-reward{
                .head-rwd{

                    .red-text{
                        font-size: 45px;
                    }
                    .gray-text{
                        font-size: 45px;
                        line-height: 2.8rem;
                    }
                }
                .name-rwd{
                    .cust-name-mem{
                        font-size: 22px;
                    }
                    h1{
                        font-size: 38px;
                    }
                }
                .icon-rwd{
                    margin-top: -91px;
                    img{
                        width: 29%;
                        margin-top: 4%;
                    }
                }
                .body-btm{
                    padding: 75px 40px 15px 40px;
                    line-height: 2.2rem;
                    .points{
                        font-size: 23px;
                        b{
                            font-size: 23px;
                        }
                    }
                    p{
                        font-size: 23px;

                    }
                    hr{
                        border-bottom: solid 3px #999898 !important;
                        width: 58%;
                }

            }
            .bottom{
                padding-left: 90px;
                .buttom-one, .buttom-two{
                    width: 100%;
                    height: 80px;
                    text-align: center;
                }
            }

        }

    }
}


/* Galaxy S5 ----------- */
@media only screen and (max-width: 360px) and (min-width: 360px) and (max-device-height: 640px)  {
    #container-center-body{
        height: 580px;
    }
}

/* iPhone 5 ----------- */
@media only screen and (max-width: 320px) and (min-width: 320px)  {
    #container-center-body{
        height: 510px;
    }
}

// /* iPhone 6+ ----------- */
// @media only screen
// and (min-device-width: 414px)
// and (max-device-height: 736px)
// and (orientation : landscape)
// and (-webkit-device-pixel-ratio: 2){
//     #container-center-body{
//         height: 658.8px;
//     }
// }


/* iPhone 8 ----------- */
@media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2)  {
                #container-center-body{
                    height: 610px;
                }

     }
/* iPhone 8+ ----------- */
 @media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3) {
        #cont-reward{
            height: 440px;
            #container-center-body{
                height: 675px;
            }
        }

    }


/* Nexus 6P */
@media only screen
and (min-width: 412px)
and (max-width: 435px)
and (min-height: 732px)
and (max-height: 773px)
and (orientation:portrait) {
    #cont-reward{
        height: 430px;
        #container-center-body{
            height: 670px;
         }
    }

}

/* Samsung Galaxy S5 ----------- */
@media only screen
and (min-device-width: 360px)
and (max-device-height: 640px)
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 3){
    #container-center-body{
        height: 576px;
    }
}

/* Iphone X */
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
    #container-center-body{
        height: 755px;
     }
}

/* iPad*/
@media only screen
    and (device-width : 768px)
    and (device-height : 1024px)
    {
        #cont-reward{
            padding: 45px;
            height: 565px;
            #container-center-body{
                height: 935px;
            }
            .container-head-reward{
                .head-rwd{

                    .red-text{
                        font-size: 35px;
                    }
                    .gray-text{
                        font-size: 35px;
                        line-height: 2.8rem;
                    }
                }
                .name-rwd{
                    margin-top: 13%;
                    .cust-name-mem{
                        font-size: 18px;
                    }
                    h1{
                        font-size: 32px;
                    }
                }
                .icon-rwd{
                    img{
                        width: 25%;
                    }
                }
                .body-btm{
                    padding: 65px 40px 15px 40px;
                    margin: auto;
                    line-height: 2.5rem;
                    width: 75%;
                    .points-for-cus{
                        font-size: 20px;
                        b{
                            font-size: 20px;
                        }
                    }
                    p{
                        font-size: 20px;

                    }
                    hr{
                        border-bottom: solid 3px #999898 !important;
                        width: 58%;
                }
                .bottom{
                    i{
                        font-size: 23px;
                        padding-top: 2%;
                        padding-right: 10%;
                    }
                }
            }

        }
    }
}
