ion-content{
    &.aug-container{
        background-color: #fff;
        
        .container-reward-card{
            background-image: url(../assets/circle-two.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position:absolute;
            width: 100%;
            height: 120px;

            .cont-rwd{

                margin-top: 15%;
                position: relative;
                width: 32%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5%;
                border-radius: 62%;
                background-color: #ffffff;
                -webkit-box-shadow: 0px 0px 15px 0px #adadad;
                box-shadow: 0px 0px 15px 0px #adadad;

                .icon-rwd{
                    width: 50%;
                    margin-left: 27%;
                    padding-top: 22%;
                }
            }

        }
        .content-head{
            position: absolute;
            text-align: center;
            padding: 0px 40px 10px 40px;
            line-height: 1.4rem;
            width: 100%;
            height: 400.2px;
            margin-top: 51%;
            font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
            
            // .sec-content{
            //     height: 100%;
            // }
            .title-head{
                height: 26%;

                font-size: 25px;
                line-height: 2rem;

                .red-text{
                    color: red;
                    font-weight: 400;
                }
                .gray-text{
                    color: #9c9c9c;
                    font-weight: 700;
                }
            }

            
            
            
            
            .para{
                font-size: 13px;
                color: #636161;
                height: 15%;
                width: 100%;
                font-weight: 500;
                padding: 0% 5% 0% 5%;

            }
            .input-text-form{
                padding-bottom: 20px;
                width: 100%;
                height: 20%;
                form{
                    .text-form{
                        height: 50px;
                        border: solid 1px #b6b3b3 !important;
                        background-color:  #ffffff !important;
                        border-radius: 5px;
                        margin-top: 5%;
                    }
                }

            }

            .btn-bottom{
                padding: 5% 5% 5% 5%;
                width: 100%;
                height: 40%;



                button {
                    height: 110px;
                    border-radius: 8px;
                    background-color: red;
                    padding: 5%;
                    color: #ffffff;
                    font-size: 14px;
                    margin-bottom: 8%;
                    width: 46%;
                    &.scan-card{
                        float: left;
                    }
                    &.enter-id{
                        float: right;
                    }
                    &.scan-card,&.enter-id{
                        img{
                            height: 66%;
                            margin: 5px 0px 10px 0px;
                        }
                    }
                }

            }
        }

        .body-head-cont{
            z-index: 10;
        }
    }
}
@media only screen and (max-width: 412px) and (min-width: 412px)  {
    #main-container{
        #container-rwd{
            width: 30%;
            height: 102%;
        }
    }
}
@media only screen and (max-width: 414px) and (min-width: 414px)  {
    #main-container{
        #container-rwd{
            width: 30%;
            height: 104%;
        }
    }
}


@media screen and (min-width: 600px) {

//    #main-container{
//         margin-top: -100%;
//     }

    #container-body{
        margin-top: 48%;
        height: 500px;
    }
    .sec-content{
        margin-top: -7%;
    }
    .container-reward-card{
        height: 800px;
        #container-rwd  {
            margin-top: 19%;
            width: 28%;
            height: 85%;
            
        }
    }
    .icon-rwd{
            margin-top: -15px;
        }

    .title-head{
       
        .red-text{
            font-size: 35px;
        }
        .gray-text{
            font-size: 35px;
            line-height: 2.8rem;
        }
    }

    .para{
        margin: 10% 0% 6% 0%;
        p{
            font-size: 18px;
            line-height: 1.2em;
            padding: 0% 10% 0% 10%;

        }

    }
    #btn-acc{
       padding: 0px 80px 0px 80px;

        button {
            height: 180px;
            width: 46%;
            font-size: 22px;
            
            &#scanning{
                height: 160px;
                font-size: 16px;
            }
            
        }

    }
}

@media screen and (min-width: 800px) {


    #container-body{
        margin-top: 48%;
    }
    .container-reward-card{
        height: 800px;

        #container-rwd  {
            margin-top: 25%;
            width: 28%;
            height: 96%;
            .icon-rwd{
                margin-top: -95px;
                // img{
                //     width: 29%;
                //     margin-top: 4%;
                // }
            }
        }
    }
    .icon-rwd{
            margin-top: -50px;
        }

    .title-head{
        
        .red-text{
            font-size: 43px;
        }
        .gray-text{
            font-size: 43px;
            line-height: 3.3rem;
           
        }
    }

    .para{
        p{
            font-size: 22px;
            line-height: 1.2em;
            padding: 0% 10% 0% 10%;
        }

    }
    #btn-acc{
       padding: 0px 100px 0px 100px;

        button {
            height: 180px;
            width: 46%;
            font-size: 22px;
            
            &#scanning{
                height: 196px;
                font-size: 22px;
                width: 226px;
            }
            
        }

    }
}




// @media only screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px)
// and (-webkit-min-device-pixel-ratio: 2) {
//    #main-container{
//         margin-top: -135%;
        
//    }

// }



//   @media screen and (min-width: 1024px) {
//     .title-head {
//       font-size: 50px;
//     }
//   }
// #main-container{ 
//     width: 100%;
//     height: 100%;
//     font-family: Lato, Helvetica, sans-serif;
//      .secondary-header{
//         width: 100%;
//         min-height: 60px;
//         background-color: #e7e7e7;
//         padding: 10px;
//         color: #656565;
//             // border-bottom: solid 1px black;
//         .left-secondary-head{
//             width: 30%;
//             height: 50px;
//             font-size: 22px;
//             padding-left: 25px;
//             float: left;
            
//         }
//         .center-secondary-head{
//             width: 40%;
//             height: 50px;
//             float: left;
            
//             .number-applicants{
//                 padding-right: 10px;
//                 font-size: 12px;
//             }
//             button{
//                 width: 140px;
//                 height: 30px;
//                 margin: 2px;
//                 font-size: 12px;
//                 font-weight: 600;
//                 color: #525252;
//             }
//         }
//         .right-secondary-head{
//             width: 15%;
//             height: 50px;
//             float: left;
//             form{
//                 width: 100%;
//                 height: 40px;
//                 border: solid 1px #c3c3c3;
//                 border-radius: 8px;
//                 background-color: #ffffff;
               
//                 input{
//                     width: 80%;
//                     height: 35px;
//                     border: none;
//                 }
//                 button{
//                     background-color: #ffffff;
//                     height: 38px;
//                     width: 40px;
//                     border-radius: 15px 10px 10px 10px;
               
//                 }
//             }
//         }
//         }
//     .first-header{
//         width: 100%;
//         min-height: 80px;
//         padding: 1%;
//         .head-title{
//             width: 50%;
//             float: left;
//             height: 58px;
//             padding-left: 25px;
//             h1{
//                 font-size: 18px;
//                 font-weight: 900;
//             }
//         }
//         .head-selector{
//           width: 23%;
//           float: right;
//           font-weight: 400;
//             select {
//                 padding: 15px 0px 10px 20px;
//                 margin: 0;
//                 background: #fff;
//                 color:#888;
//                 border:none;
//                 outline:none;
//                 display: inline-block;
//                 -webkit-appearance:none;
//                 -moz-appearance:none;
//                 appearance:none;
//                 cursor:pointer;
//                 width: 300px;
//                 height: 42px;
//                 -webkit-border-radius: 5px;
//                 -moz-border-radius: 5px;
//                 border-radius: 10px;
//                 border: solid 1px #e7e7e7;
//                 font-size: 12px;
//                 float: left;

//             }
            
//         /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
//         @media screen and (-webkit-min-device-pixel-ratio:0) {
//             select {padding-right:18px}
//         }
        
//         label {position:relative}
//         label:after {
//             content:"\f078";   
//             font-family: "FontAwesome";
//             font-size: 14px;
//             color:#aaa;
//             right:8px; top: 15px;
//             padding:0 0 5px;
//             position:absolute;
//             pointer-events:none;
//         }
//         label:before {
//             content:'';
//             right:4px; top: 2px;
//             width:23px; height:18px;
//             background:#fff;
//             position:absolute;
//             pointer-events:none;
//             display:block;
//         }
//         .head-button{
//             float: right;
//             height: 20px;
//             button{
//                 font-weight: 600;
//                 font-size: 13px;
//                 padding: 5px;
//                 width: 120px;
//                 height: 40px;
//                 border-radius: 2px;
//                 background-color: #cddc2c;
//             }
//         }
//      }
     
//     }
//     .secondary-sidebar{
//         width: 15%;
//         background-color: #19222e;
//         height: 100%;
//         color: #ffffff;
//         float: left;

//         ul{
//             margin: 0px;
//             padding: 0px;
//             a{
//                 li{
//                     list-style: none;
//                     margin: none;
//                     padding: 20px;
                   
//                 }
//                 li:hover{
//                     background-color: #404852;
//                 }
//             }
//             a:hover{
//                 color:#cddc2c;
//             }
           
//         }
//     }
//     .body{
//         width: 85%;
//         height: 100%;
//         // background-color: red;
//         float: left;
//         padding: 2%;

//         .panel{
//             width: 100%;
//             height: 100%;
//             .panel-body{

//                 .table-responsive{
//                     .table-striped>tbody>tr:nth-child(odd)>td, 
//                     .table-striped>tbody>tr:nth-child(odd)>th {
//                     background-color:  rgb(243, 243, 243);
//                     border: none;
//                     border-bottom: solid 1px #c3c3c3; // Choose your own color here
//                     }
//                 }
//                 .table{
//                     td{
//                         border-bottom: solid 1px #c3c3c3;
//                         padding: 15px;
//                         &.font-icons{
//                             i{
//                                 padding-left: 8px;
//                                 font-size: 18px;
//                                 color: #525252;
//                             }
//                         }
//                         &.highlight-name{
//                             color: #919e00;
//                         }
//                         button{
//                             height: 28px;
//                             margin-left: 3px;
//                             border-radius: 3px;
//                             &.open-job{
//                                width: 90px;
//                                height: 27px;
//                                font-size: 13px;
//                                font-weight: 600;
//                                color: #525252;  
//                             }
//                             &.trash-btn{
//                                 background-color: #d0021b;
//                                 width: 35px;
//                                 color: #ffffff;
//                                 font-size: 16px;
//                             }
//                         }
//                     }
                    
//                     thead{
//                         tr{
//                             th{
//                                 border: none;
//                                 border-bottom: solid 1px #c3c3c3;
//                                 padding: 20px;
//                             }
                           
//                         }
//                        select {
//                             border: none;
//                         }
                       
//                     }
//                 }
                    
            
//             }
//         }
//     }
// }


// @media screen and (min-width:800px){

   
// }