<ion-content class="aug-container">
    <!-- Select input method: Scan card or input member ID-->
	<section *ngIf="!inputMemberId">
		<div id="main-container" class="container-reward-card" >
			<div id="container-rwd" class="cont-rwd">
				<div class="icon-rwd">
					<img src="./assets/Augustus-Retina.png"/>
				</div>

			</div>
		</div>
		<div class="content-head" id="container-body">
            <div class="title-head">
                <span class="red-text" style="padding-top: 10px">AUGUSTUS</span><br>
                <span class="gray-text">REWARDS</span>
            </div>
            <div class="para">
                <p>Scan your card or manually input your account number to display your profile.</p>
            </div>
            <div class="btn-bottom" id="btn-acc">
                <button id="scanning" class="scan-card " (tap)="onScanCard()">
                    <img src="./assets/qr-code.png"/><br>
                    <span class="test">SCAN CARD</span>
                </button>

                <button id="scanning" class="enter-id" (tap)="inputMemberId = true">
                    <img src="./assets/entering-password.png"/><br>
                    <span class="test">ENTER NO.</span>
                </button>
            </div>
		</div>
	</section>

    <!-- Input Member ID -->
    <section *ngIf="inputMemberId">
        <div  id="main-container" class="container-reward-card">
            <div id="container-rwd" class="cont-rwd">
				<div class="icon-rwd">
					<img src="./assets/Augustus-Retina.png"/>
				</div>

			</div>
        </div>
        <div class="container-body" id="container-body"  [style.height.px]="height * 0.60">
                <div id ="title-head-id" class="title-head">
					<span class="red-text" style="padding-top: 10px">AUGUSTUS</span><br>
					<span class="gray-text">REWARDS</span>
				</div>

                <div class="paragraph">
                    <p>Please enter your account number shown in your membership card.</p>
                </div>

                <div class="input-text-form">
                    <form>
                        <input [(ngModel)]="memberId" name="member_id" class="text-form" id ="input-text-form" type="text">
                        <alert-error-handler [errorResponse]="errorResponse" [type]="'bullet'"></alert-error-handler>
                    </form>
                </div>

                <div id="ver-btn" class="btn-bottom">
                    <button class="btn-verify-acc" (tap)="verifyMemberId(memberId, true)">VERIFY ACCOUNT</button>
                    <button class="cancel-id-login" (tap)="inputMemberId = false">CANCEL</button>
                </div>
            </div>

    </section>
</ion-content>
