<!--<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content menuClose>
        <div class="nav-group">
            <label>General</label>
            <ul>
                <li (tap)="goToHomePage()">
                    <div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    <div class="label">Home</div>
                </li>
                <li (tap)="goToAddBranchPage()" *ngIf="role != 'owner'">
                    <div class="icon"><i class="fa fa-plus" aria-hidden="true"></i></div>
                    <div class="label">Add Branch</div>
                </li>
                <li (tap)="logout()">
                    <div class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
                    <div class="label">Sign Out</div>
                </li>
            </ul>
        </div>

        <div class="nav-group" *ngIf="role != 'owner'">
            <label>Branches</label>
            <ul>
                <li *ngFor="let p of pages"
                    (tap)=" openTransaction(p)">
                    <div class="icon branch"><i class="fa fa-square" aria-hidden="true"></i></div>
                    <div class="label">{{p.title}}</div>
                </li>
            </ul>
        </div>
    </ion-content>

</ion-menu>-->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-footer *ngIf="loggedIn">
    <ion-toolbar>
        <ul class="footer-page-list">
            <li class="footer-link" (click)="switchPage('account')">
                <a href="#">
                    <!-- <img id="icon-account" [src]="iconAccountSrc" class="footer-icon"> -->
                    <img id="icon-account" src="assets/icon/avatar.png" class="footer-icon" *ngIf="selected != 'account'">
                    <img id="icon-account" src="assets/icon/avatar-selected.png" class="footer-icon" *ngIf="selected == 'account'">
                    <p [ngClass]="{'page-title-selected': selected == 'account', 'page-title': selected != 'account'}">Account</p>
                </a>
            </li>
            <li class="footer-link" (click)="switchPage('products')">
                <a href="#">
                    <!-- <img id="icon-products" [src]="iconProductsSrc" class="footer-icon"> -->
                    <img id="icon-products" src="assets/icon/products.png" class="footer-icon" *ngIf="selected != 'products'">
                    <img id="icon-products" src="assets/icon/products-selected.png" class="footer-icon" *ngIf="selected == 'products'">
                    <p [ngClass]="{'page-title-selected': selected == 'products', 'page-title': selected != 'products'}">Products</p>
                </a>
            </li>
            <li class="footer-link" (click)="switchPage('promo')">
                <a href="#">
                    <!-- <img id="icon-promo" [src]="iconPromoSrc" class="footer-icon"> -->
                    <img id="icon-promo" src="assets/icon/promo.png" class="footer-icon" *ngIf="selected != 'promo'">
                    <img id="icon-promo" src="assets/icon/promo-selected.png" class="footer-icon" *ngIf="selected == 'promo'">
                    <p [ngClass]="{'page-title-selected': selected == 'promo', 'page-title': selected != 'promo'}">Promos</p>
                </a>
            </li>
            <li class="footer-link" (click)="onLogout()">
                <a href="#">
                    <img id="icon-logout" src="assets/icon/logout.png" class="footer-icon">
                    <p class="page-title">Logout</p>
                </a>
            </li>
        </ul>
    </ion-toolbar>
</ion-footer>

