<ion-content class="aug-container">
    <section>
        <div  id="main-container" class="container-reward-card">
            <div id="container-rwd" class="cont-rwd">
				<div class="icon-rwd">
					<img src="./assets/Augustus-Retina.png"/>
				</div>

			</div>
        </div>
        <div class="container-body" id="container-body"  [style.height.px]="height * 0.60">

                <div id ="title-head-id" class="title-head">
					<span class="red-text" style="padding-top: 10px">AUGUSTUS</span><br>
					<span class="gray-text">REWARDS</span>
				</div>

                <div class="paragraph">
                    <p>Please enter your account number shown in your membership card.</p>
                </div>

                <div class="input-text-form">
                    <form>
                        <input [(ngModel)]="memberId" name="member_id" class="text-form" id ="input-text-form" type="number">
                        <alert-error-handler [errorResponse]="errorResponse" [type]="'bullet'"></alert-error-handler>
                    </form>
                </div>

                <div id="ver-btn" class="btn-bottom">
                    <button class="btn-verify-acc" (tap)="onLogin()">VERIFY ACCOUNT</button>
                    <button class="cancel-id-login" (tap)="onCancel()">CANCEL</button>
                </div>
            </div>

    </section>
</ion-content>
