ion-content{
    &.aug-container{
        background-color: #fff;
        /***SECOND SECTION ***/

        .container-reward-card{
            background-image: url(../assets/circle-two.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 120px;

           

            .cont-rwd{
                margin-top: 15%;
                position: relative;
                width: 32%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 5%;
                border-radius: 62%;
                background-color: #ffffff;
                -webkit-box-shadow: 0px 0px 15px 0px #adadad;
                box-shadow: 0px 0px 15px 0px #adadad;

                .icon-rwd{
                    width: 50%;
                    margin-left: 27%;
                    padding-top: 22%;
                }
            }

        }
            .container-body{
                position: absolute;
                text-align: center;
                padding: 0px 40px 10px 40px;
                line-height: 1.4rem;
                width: 100%;
                height: 100%;
                margin-top: 51%;
                font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
                
                //  .sec-content{
                //      height: 100%;
                //   }
                  .title-head{
                    height: 15%;
    
                    font-size: 25px;
                    line-height: 2rem;
    
                    .red-text{
                        color: red;
                        font-weight: 400;
                    }
                    .gray-text{
                        color: #9c9c9c;
                        font-weight: 700;
                    }
                }

                .paragraph{
                    font-size: 13px;
                    color: #636161;
                    height: 10%;
                    width: 100%;
                    font-weight: 500;
                    padding: 0% 10% 0% 10%;
                    margin-top: 5%;
                    margin-bottom: 5%;

                }
                .input-text-form{
                    padding-bottom: 20px;
                    width: 100%;
                    height: 40%;
                    form{
                        .text-form{
                            height: 50px;
                            border: solid 1px #b6b3b3 !important;
                            background-color:  #ffffff !important;
                            border-radius: 5px;
                            margin-top: 5%;
                            width: 100%;
                            padding: 10px;
                        }

                        ul.error{

                            padding:20px 2px;
                            list-style-type:none;

                            li{
                                text-align:center;
                                text-transform:uppercase;
                            }

                        }
                    }

                }

                .btn-bottom{
                    width: 100%;
                    height: 30%;
                    margin-bottom: 2%;

                    .btn-verify-acc{
                        width: 100%;
                        height: 50px;
                        border-radius: 30px;
                        background-color: red;
                        color: #ffffff;
                        font-weight: 700;
                    }

                    .cancel-id-login{

                        width: 100%;
                        height: 50px;
                        border-radius: 30px;
                        background: #000000;
                        color: #ffffff;
                        margin-top: 5%;
                        font-weight: 700;

                    }

                }
            }


            .body-head-cont{
                z-index: 10;
            }


        }
    }




@media screen and (min-width: 600px) {
    #main-container{
        height: 200px;
    }

    #container-body{
        margin-top: 51%;

    }
   
    .container-body{
        &.body-cont{
            padding-left: 90px;
            padding-right: 90px;
        }
    }

    #input-text-form{
        height: 70px;
        font-size: 23px;
        width: 80%;
    }

    .title-head{
       
        .red-text{
            font-size: 35px;
        }
        .gray-text{
            font-size: 35px;
            line-height: 2.8rem;
        }
    }

    .paragraph{
        p{
            font-size: 18px;
            line-height: 1.2em;
        }

    }
    #ver-btn{
      height: 120px;
      padding-left: 40px;
      padding-right: 40px;
        button {
             padding: 2px;
            height: 60%;
            width: 100%;
            font-size: 18px;
            
        }

    }
}

@media screen and (min-width: 800px) {

   
    #container-body{
        margin-top: 48%;
    }
   
    .container-reward-card{
       

        &.try{
            height: 800px;
        }

        #container-rwd  {
            margin-top: 18%;
            width: 28%;
            height: 98%;
            .icon-rwd{
                margin-top: -95px;
                // img{
                //     width: 29%;
                //     margin-top: 4%;
                // }
            }
        }
    }

    #input-text-form{
        height: 80px;
        font-size: 23px;
        width: 70%;
    }

    .icon-rwd{
            margin-top: -50px;
        }

        #title-head-id{
            height: 21%;
        }
    .title-head{
       height: 20px;
        .red-text{
            font-size: 43px;
        }
        .gray-text{
            font-size: 43px;
            line-height: 3rem;
        }
    }

    .paragraph{
        p{
            font-size: 22px;
            line-height: 1.2em;
        }

    }
    #ver-btn{
        height: 30%;
        padding-left: 10%;
        padding-right: 10%;
          button {
             padding: 2px;
              height: 40%;
              width: 100%;
              font-size: 18px;
              
          }
  
      }
    
}





@media only screen 
and (min-device-width : 750px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
   #main-container{
        height: 235px;
   }

}


    