.selected-tab {
    background-color: red;
    color: #ffffff;
}

.product-tab {
    background-color: #ffffff;
    color: #8c8c8c;
}

.product-tabs {
    padding-top: 8%;

    button {
        font-size: 14px;
        font-weight: 500;
        padding: 2% 9%;
        border-radius: 4px;
    }

    .tab-for-men {
        margin-right: 2.5%;
    }

    .tab-for-women {
        margin-left: 2.5%;
    }
}

.perfumes-container {
    margin-top: 7%;
    margin-left: 8%;
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;

    .perfume {
        width: 44%;
        margin: 1%;
        float: left;
        padding: 3%;
        border-radius: 4px;
        background-color: #F1F1F1;

        img {
            width: 50%;
        }

        span {
            display: block;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}





