<ion-content class="aug-container">
    <section>
        <div id="cont-reward" class="container-reward">
            <div class="cont-body-reward" id="container-center-body">
                <div class="container-head-reward">
                    <div class="head-rwd">
                        <span class="red-text">AUGUSTUS</span><br>
                        <span class="gray-text"> REWARDS</span>
                    </div>

                    <!-- CUSTOM TABS -->
                    <div class="tab product-tabs">
                        <button class="tab-for-men" [ngClass]="{'selected-tab' : selected.men, 'product-tab' : !selected.men}"(click)="onSelectPerfumeType('men')">For Men</button>
                        <button class="tab-for-women" [ngClass]="{'selected-tab' : selected.women, 'product-tab' : !selected.women}"(click)="onSelectPerfumeType('women')">For Women</button>
                    </div>

                    <div class="perfumes-container" *ngIf="selected.men" >
                        <div class="for-men-perfumes" *ngFor="let perfume of perfumes.men">
                            <div class="perfume" (click)="onViewProduct(perfume)">
                                <img [src]="perfume.image">
                                <span>{{perfume.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="perfumes-container" *ngIf="selected.women" >
                        <div class="for-women-perfumes" *ngFor="let perfume of perfumes.women">
                            <div class="perfume" (click)="onViewProduct(perfume)">
                                <img [src]="perfume.image">
                                <span>{{perfume.name}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</ion-content>
